



html, body {
    height: 100%;
}
body {
    position: relative;
    background-color: #eee;
    background-image: url('new_back_grey2.png');
}

#page {
    position: relative;
    width: 600px;
    height: 300px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -300px;
    -moz-border-radius: 15px;     
    -webkit-border-radius: 15px;
/*    background-image: url('./new_water.png');*/

     -moz-box-shadow: 0 0 17px 6px #333;
     -webkit-box-shadow: 0 0 17px 6px #333;
     -o-box-shadow: 0 0 17px 6px #333;
     -khtml-box-shadow: 0 0 17px 6px #333;
     box-shadow: 0 0 17px 6px #333;
}

#page_inner {
    padding: 20px;
}









form p { clear: both; position: relative; }
form label { width: 15%; float: left;
	     margin: 0.5em; padding: 0 0 0 2.5%; }

form .radios, form .checkboxes { float: left; width: 50%; margin: 0 0 10px 0; }

form .radios input, form .radios label,
form .checkboxes input, form .checkboxes label
 { float: none; width: auto; }

/*
form .radios, form .checkboxes { float: left; position: relative; margin: 0 0 20px 0; }
form .radios label, form .radios input, form .checkboxes label, form .checkboxes input { float: none; }


form .radios label, form .checkboxes label { position: relative; line-height: 3em; }

form .radios input, form .checkboxes input { position: relative; top: 2px; }
*/

form input, form textarea, form select { float: left;
     /*width: 75%;*/
     width: 35%;
     
					 border: 1px solid #ccc;
					 margin: 0.5em; padding: 0.3em; }
form .mceEditor { float: left;
     /*width: 75%;*/	 
     width: 50%;
}
form select { width: 66%; }
.grey table.inner {
      /*width: 75%;*/
      width: 50%;
      float: left; clear: none; }

form p .error { position: absolute; right: 0; width: 210px;
		top: 7px; 
}




form p input {
    background-image: url("./background2.png");
}



form fieldset legend {
    display: none;
}


h2 {
    margin: 0 0 1em 0;
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
}


/* typography */
body {
    font-size: 62.5%;
    font-family: sans-serif;
}


h2 {
    font-size: 2em;
    color: #333;
    font-weight: normal;
}
h2 span {
    text-transform: uppercase;
}

ul li, p {
    font-size: 1.2em;
    margin: 0 0 1em 0;
}

#footer, #footer a {
    color: #999;
}





